html {
    font-family: arial;
}

#navbar li {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 50px 50px;
    background-color: greenyellow;
}

/*css for grid-test.html*/

.grid_container {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 500px 200px;
}

.d1 {background-color: lightblue;}
.d2 {background-color:lightgreen;}
.d3 {background-color:lightyellow;}
.d4 {background-color: lightsalmon;}

