html {
    font-family: Helvetica;
    /*text-align: center;*/
}

#company-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

#logo-company {
    display: flex;
    height: 80px;
    margin-top: 19px;

}

#header-company {
    display: flex;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    align-items: center; 
    /*
    border-style: solid;
    border-width: thin;
    background-color: cadetblue;
    border-color: cadetblue;
    border-radius: 20px;
    */
    
}

#div-1 {
    background-color: aqua;
    width: 50%;
    float: right;
}

#div-2 {
    background-color: green;
    width: 50%;
    float: left;
}

#div-3 {
    background-color: yellow;
    width: 33.33%;
    margin: 0 auto;
}