html {
  font-family: helvetica;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

#header-img {
  display: flex;
  height: 80px;
  margin-top: 19px;
}

#company-name {
  display: flex;
  padding: 0;
  margin-bottom: 5px;
  margin-right: 5px;
  align-items: center;
}

#nav-bar {
  position: fixed; /*user story #13*/
  top: 0;
  right: 0;
  margin-right: 15px;
  border-style: solid;
  border-color: white;
  background-color: white;
}

#nav-items {
  display: flex;
}

#nav-item1 {
  margin-right: 15px;
}

#nav-item2 {
  margin-right: 15px;
}

ul {
  list-style: none;
}

.nav-link {
  float: left;
}

#form {
  text-align: center;
  margin-top: 50px;
}

#submit {
  color: white;
  background-color: darkslategray;
}

#features {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 30px;
}

.icons {
  height: 50px;
  padding-right: 2%;
}

#box1-features {
  display: flex;
  align-items: center;
}

#box2-features {
  display: flex;
  align-items: center;
}

#box3-features {
  display: flex;
  align-items: center;
}

#desc {
  display: flex;
  margin-left: 70px;
  margin-top: 0;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.pricing {
  display: flex;
  justify-content: center;
  list-style: disc;
  margin-top: 30px;
}

#header-price {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 15px;
  padding-bottom: 5%;
  color: white;
}

#list-price {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  font-size: 15px;
  color: white;
}

#box1-pricing {
  background-color: darkslategray;
  border-color: darkslategray;
  border-style: solid;
  padding-bottom: 5%;
  padding-right: 3%;
  margin-right: 10px;
}

#box2-pricing {
  background-color: darkslategray;
  border-color: darkslategray;
  border-style: solid;
  padding-right: 3%;
  margin-right: 10px;
}

#box3-pricing {
  background-color: darkslategray;
  border-color: darkslategray;
  border-style: solid;
  padding-right: 3%;
  margin-right: 10px;
}

@media (max-width: 600px) {
  
  header{
    text-align: center;
    flex-wrap: flex;
  }
  
  body{
    text-align: center;
    flex-wrap: flex;
  }
}