html {
  font-family: arial;
  color: white;
}

/*makes navbar sit flush with other elements*/
html, body {
  margin: 0;
  padding: 0;
}

/*navbar section*/
#navbar {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  background-color: darkslategray;
}

#nav-items {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

#about-navItem {margin-right: 10px;}

#projects-navItem {margin-right: 10px;}

/*welcome section*/
#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: steelblue;
}

/*projects section*/
#projects {  
  height: 100vh;
  padding: 1px; /*makes section sit flush*/
  background-color: orangered;
}

#project-header {
  text-align: center;
  margin-bottom: 50px;
}

.project-tile a {
    background-color: gray;
    border:solid;
    border-style: none;
    text-decoration: none;
    color: black;
}

.project-tile {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
}

#tribute-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}

#survey-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}

#landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}

#doc-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}

/*contact section*/
#contact {
  height: 100vh;
  width: 100%;
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-header {display: flex;}

#contact-items {display: flex;}

#GitHub-contactItem {margin-right: 60px;}

#twitter-contactItem {margin-right: 60px;}

#email-contactItem {margin-right: 60px;}

/*footer section*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: darkslategray;
}

/*media query*/
@media (max-width: 770px) {
  #navbar {
    justify-content: center; 
  }
  
  .project-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
  
  #tribute-page {
    height: 80px;
    width: 200px;
  }
  
  #survey-form {
    height: 80px;
    width: 200px;
  }
  
  #landing-page {
    height: 80px;
    width: 200px;
  }
  
  #doc-page {
    text-align: center;
    height: 80px;
    width: 200px;
  }
}