html {
  font-family: arial;
  color: white;
}

#navbar {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: flex-end;
  width: 100%;
  background-color: darkslategray;
}

#nav-items {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

#about-navItem {margin-right: 10px;}

#projects-navItem {margin-right: 10px;}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: steelblue;
}

#projects {
  height: 100vh;
  background-color: orangered;
}

.project-tile li {list-style: none;}

.project-tile a {
  text-decoration: none;
  color: black;
}

#project-1 {
  border: solid;
  border-style: none;
  background-color: lightgray;
  padding: 10px;
}

#project-2 {
  border: solid;
  border-style: none;
  background-color: lightgray;
  padding: 10px;
  margin-top: 10px;
}

#project-3 {
  border: solid;
  border-style: none;
  background-color: lightgray;
  padding: 10px;
  margin-top: 10px;
}

#project-4 {
  border: solid;
  border-style: none;
  background-color: lightgray;
  padding: 10px;
  margin-top: 10px;
}

#contact {
  height: 100vh;
  width: 100%;
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-header {display: flex;}

#contact-items {display: flex;}

#GitHub-contactItem {margin-right: 60px;}

#twitter-contactItem {margin-right: 60px;}

#email-contactItem {margin-right: 60px;}


@media (max-width: 770px) {}